html,body{
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Merriweather Sans', Courier, monospace;
    color: #121212;
}

h1{
    margin: 0px;
    padding-top:80px;
}

h1.title{
    margin: 40px 0px 0px 0px;
    font-size: 16px;
    color: #AAAAAA;
    text-transform: uppercase;
}

h2{
    font-size: 16px;
    margin: 0px;
}

h3{
    margin: 40px 0px 0px 0px;
    font-size: 12px;
    color: #AAAAAA;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: #121212;
    word-wrap: break-word;
    word-break: break-all;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #AEE295; 
    border-radius: 2em;
}

body{
   background-color: pink;
   overflow-y: hidden;
   /* display: flex; */
   /* flex-direction: row; */
}

body > nav#sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%; 
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top:80px;
    padding-bottom: 80px;
    box-shadow: inset -3px -2px 3px rgb(175 175 175 / 18%);
}

body > main#main{
    position: absolute;
    top: 0;
    left: 25%;
    bottom: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 80px 0px;
    background-color: #F8F8F8;
    width: 75%;
}

body > main#main > section{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0px 30px 0px 30px;
} 

body > main#main ul > li{
    font-weight: 100;
}

body > main#main > section h2{
    margin-top: 30px;
}

body > main#main > section img.nolegend{
    object-fit: contain;
    margin: 30px 0px 30px 0px;
}

body > main#main > section div.metade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

body > main#main > section div.metade div{
    max-width: 50%;
}

body > main#main > section div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > main#main > section img{
    object-fit: contain;
    margin: 30px 0px 5px 0px;
    max-width: 100%;
    max-height: 100%;
}

body > main#main > section img ~ span{
    font-size: 14px;
    text-align: right;
    font-weight: 100;
    display: block;
}

body > main#main > section span.legend{
    font-size: 14px;
    text-align: right;
    font-weight: 100;
    display: block;
}

body > main#main > section  span.reference{
    font-size: 12px;
    color: #AAAAAA;
    display: block;
}

body > nav#sidebar div.cabecalho,
body > nav#sidebar div.items{
    margin-left: 20px;
    max-width: 100%;
}

nav#sidebar > img{
    max-width: 155px;
    max-height: 60px;
}

nav#sidebar div.cabecalho{
    margin-top: 20px;
}

nav#sidebar > div.cabecalho > .icons{
    margin-top: 20px;
}

nav#sidebar ul{
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

nav#sidebar ul > li{
    font-size: 15px;
    margin-top: 10px;
    font-weight: bold;
}

nav#sidebar ul > li:hover{
    cursor: pointer;
}

nav#sidebar ul > li > img{
    max-width: 6px;
}

main#main p{
    font-weight: 100;
}

body > button#goTopButton {
    display: none;
}

@media(max-width:750px){
    body{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }

    body > nav#sidebar > div.items{
        margin: 0;
        padding: 0 0 40px 20px;
        background-color: #F8F8F8;
    }

    body > nav#sidebar {
        position: static;
        width: 100%;
        padding: 20px 0px 0px;
        overflow-y: hidden;
    }

    body > nav#sidebar div.cabecalhoHeader{ 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }

    body > nav#sidebar div.cabecalho{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        margin: 10px;
        text-align: right;
    }

    body > nav#sidebar div.cabecalho > h2{
        margin:0px 5px 0px 5px;
    } 
    
    body > nav#sidebar div.cabecalho > div.icons{ 
        display: none;
    }

    body > main#main{
        position:static;
        width: 100%;
        background-color: #FFF;
    }

    body > main#main > section div.metade{
        flex-wrap: wrap;
    }

    body > main#main > section div.metade div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
    }

    body > button#goTopButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 8px 10px;
        border-color: transparent;
        background-color: #AEE295;
        border-radius: 50%;
        color: #000;
        font-weight: bolder;
    }
}

@media(max-width:370px){
    body > nav#sidebar div.cabecalhoHeader {
        flex-direction: column;
    }

    body > nav#sidebar div.cabecalho{
        text-align: center;
     }
}